.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .example-button-row button,
  .example-button-row a {
    margin-right: 15px;
  }

  .mat-raised-button{
    margin-right: 15px;
  }