<mat-card>
    <h1>New Book</h1>
    <form #addbook="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Book name" [(ngModel)] = "title"
                           name = "book_name"
                           #addbook = "ngModel">
          <mat-error *ngIf="!(addbook.valid || addbook.pristine)">
            Book name is required
          </mat-error>                     
        </mat-form-field>
        <br>
        <mat-form-field>
        <input matInput placeholder="Author" [(ngModel)] = "author"
        name = "book_author"
        #addbook = "ngModel">
    </mat-form-field>
        <div >
            <button mat-raised-button color="primary" >{{buttonText}}</button>
            <button mat-raised-button [routerLink]="'/books'" >Cancel</button>
        </div>
      </div>
    </form>
    </mat-card>