<p *ngIf = "!(posts$)">Loding...</p>
<br>
<div ng-controller="myCtrl">
  <button mat-raised-button color="primary" (click)="saveFunc()">Save to firestore</button>
  <button mat-raised-button color="primary" >Add Post</button>
  <p>{{message}}</p>
</div>
  <form #postForm>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$">  
      <mat-expansion-panel-header>
        <mat-panel-title>
            <h3>{{post.title}}</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
     <p>{{post.body}}</p>
      <div *ngFor = "let user of users$">
        <div *ngIf = "user.id == post.userId"> 
          <p>Auther: {{user.name}}</p>
        </div>
      </div>
      <button mat-raised-button color="primary">Delete</button>
      <button mat-raised-button color="primary">Edit</button>
    </mat-expansion-panel>
  </mat-accordion>
</form>

<!--<p *ngIf = "!(posts$ | async)">Loding...</p>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$ | async">   
      <mat-expansion-panel-header>
        <mat-panel-title>
            <h3>{{post.title}}</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
     <p>{{post.body}}</p>
    </mat-expansion-panel>
  </mat-accordion>
-->