<br>
<button mat-raised-button color="primary" routerLink="/addbook" routerLinkActive="active">Add Book</button>
<br>
<br>
<p *ngIf = "!(books$ | async)">Loading...</p>
<mat-accordion>
  <mat-expansion-panel *ngFor = "let book of books$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{book.title}}
      </mat-panel-title>
    </mat-expansion-panel-header> 
    By {{book.author}}
    <button mat-raised-button color="primary"(click)=deleteBook(book.id)>Delete</button>
    <button mat-raised-button color="primary" [routerLink]="'/addbook/' + book.id" >Edit</button>
  </mat-expansion-panel>
</mat-accordion>

