<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Temperatures</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p *ngIf = "!hasError">
   Current temp in {{city}} is {{temperature | number:'1.0-0'}}º
   <a mat-list-item routerLink="/tempform" routerLinkActive="active">Update</a>
    </p>
    <p *ngIf = "hasError">
      {{errorMessage}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click) = "addLikes()">LIKE {{likes}}</button><!--<span *ngIf = "likes!=0">{{likes}}</span>-->
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
