<p *ngIf = "!(authors$ | async)">Loading...</p>
<mat-selection-list #authors>
  <mat-list-option *ngFor="let book of authors$ | async">
    {{book.author}} <a routerLink="/editauthor" routerLinkActive="active">update</a>
  </mat-list-option>
</mat-selection-list>
<p>
  Options selected: {{authors.selectedOptions.selected.length}}
</p>
<mat-card>
  <h1>Add author</h1>
  <form #authorForm="ngForm" (ngSubmit)="addAuthor()">
    <div class="e">
      <mat-form-field>
        <input matInput placeholder="author" [(ngModel)] = "author"
                         name = "author"
                         required #spy
                         #tempi = "ngModel">
        <!--<mat-error *ngIf="!(tempi.valid || tempi.pristine)">
          Author name is required
        </mat-error> -->                       
      </mat-form-field>
      <div >
          <button mat-raised-button color="primary" [disabled]="!authorForm.form.valid">Add</button>
      </div>
    </div>
  </form>
  </mat-card>
